button {
  border-radius: 25px;
  transition: 0.3s all ease;

  &:hover mat-icon {
    transform: scale(1.25);
  }
}

mat-icon {
  color: white;
}

img {
  outline: none;
  cursor: pointer;
}

.primary-bg {
  background-color: #008149;
}

.secondary-bg {
  background: #2a3a87;
}
