<div fxLayout="column" fxLayoutGap="15px" fxFlex>
  <div class="header" fxLayout="row" fxFlex>
    <div fxLayout="column" fxLayoutAlign="center start">
      <img alt="wizut-logo" src="assets/images/wizut.png">
    </div>
    <span fxLayout="column" fxLayoutAlign="center center" fxFlex>{{ header }}</span>
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="center center" fxFlex>{{ content }}</div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <button class="submit-button" mat-raised-button color="primary" (click)="handleClose()">
      Zamknij
    </button>
  </div>
</div>