<form
  [formGroup]="form"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFlexFill
  (submit)="handleSubmit()"
>
  <div class="form" fxLayout="column" fxFlex>
    <div
      class="header accent"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex
    >
      <div fxLayout="column" fxLayoutAlign="center start">
        <img alt="wizut-logo" src="assets/images/wizut.png" />
      </div>
      <span fxLayoutAlign="center center" fxFlex
        >{{ 'signInForm' | translate }}</span
      >
    </div>
    <mat-form-field>
      <mat-label>{{ 'username' | translate }}</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="c.username.hasError('required')">
        {{ 'fieldRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="c.password.hasError('required')">
        {{ 'fieldRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <button class="submit" type="submit" mat-raised-button color="accent">
        {{ 'signIn' | translate }}
      </button>
    </div>
  </div>
</form>
