<form
  [formGroup]="form"
  class="photo-library"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex
>
  <div class="photo-library--content">
    <div class="photo-library--content--header">
      <h1 class="primary">
        <mat-icon svgIcon="photo_library"></mat-icon> {{ 'photoLibrary' |
        translate }}
      </h1>
    </div>
    <div class="photo-library--content--search">
      <div class="photo-library--content--search--row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'dateFrom' | translate }}</mat-label>
          <input
            matInput
            formControlName="dateFrom"
            [matDatepicker]="datePickerFrom"
            [errorStateMatcher]="dateErrorMatcher"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePickerFrom"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePickerFrom> </mat-datepicker>
          <mat-error *ngIf="form.hasError('dateFromBiggerThanToError')"
            >{{ 'invalidDateRange' | translate }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'dateTo' | translate }}</mat-label>
          <input
            matInput
            formControlName="dateTo"
            [matDatepicker]="datePickerTo"
            [errorStateMatcher]="dateErrorMatcher"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePickerTo"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePickerTo></mat-datepicker>
          <mat-error *ngIf="form.hasError('dateFromBiggerThanToError')"
            >{{ 'invalidDateRange' | translate }}</mat-error
          >
        </mat-form-field>
      </div>
      <div class="photo-library--content--search--row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'temperatureFrom' | translate }}</mat-label>
          <input
            type="number"
            matInput
            formControlName="temperatureFrom"
            [errorStateMatcher]="temperatureErrorMatcher"
          />
          <mat-icon matSuffix svgIcon="temperature"></mat-icon>
          <mat-error *ngIf="form.hasError('temperatureFromBiggerThanToError')"
            >{{ 'invalidTemperatureRange' | translate }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'temperatureTo' | translate }}</mat-label>
          <input
            type="number"
            matInput
            formControlName="temperatureTo"
            [errorStateMatcher]="temperatureErrorMatcher"
          />
          <mat-icon matSuffix svgIcon="temperature"></mat-icon>
          <mat-error *ngIf="form.hasError('temperatureFromBiggerThanToError')"
            >{{ 'invalidTemperatureRange' | translate }}</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="photo-library--content--submit" (click)="handleSubmitForm()">
      <button mat-raised-button type="submit">
        {{ 'search' | translate }}
      </button>
    </div>
    <div class="photo-library--content--pagination-refresh">
      <span>{{ 'numberOfResultsAtOnePage' | translate }}</span>
      <mat-button-toggle-group name="pagination" formControlName="pagination">
        <mat-button-toggle [value]="8">8</mat-button-toggle>
        <mat-button-toggle [value]="12">12</mat-button-toggle>
        <mat-button-toggle [value]="16">16</mat-button-toggle>
        <mat-button-toggle [value]="20">20</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-raised-button (click)="handleRefreshImages()">
        <mat-icon svgIcon="refresh"></mat-icon>
        {{ 'refresh' | translate }}
      </button>
    </div>
    <div class="photo-library--content--list" [ngStyle]="listStyle">
      <div
        *ngIf="loadingState"
        class="photo-library--content--list--loading-state-wrapper"
      >
        <div
          class="photo-library--content--list--loading-state-wrapper--content"
        >
          <mat-spinner></mat-spinner>
          <span>{{ 'loadingPhotos' | translate }}</span>
        </div>
      </div>
      <div
        *ngFor="let image of images"
        class="photo-library--content--list--photo"
      >
        <div class="photo-library--content--list--photo--image">
          <img [src]="image.imageUrl" alt="" />
        </div>
        <div class="photo-library--content--list--photo--description">
          <span>
            <mat-icon svgIcon="calendar"> </mat-icon>
            {{ image.imageDate | date: 'dd.MM.yyyy HH:mm:ss' }}
          </span>
          <span>
            <mat-icon svgIcon="temperature"></mat-icon>
            {{ image.firstTemperature }} °C
          </span>
        </div>
      </div>
    </div>
    <div
      *ngIf="!loadingState && pages.length"
      class="photo-library--content--pagination"
    >
      <button mat-mini-fab (click)="handleSwitchPage(true)">
        <mat-icon svgIcon="chevron"></mat-icon>
      </button>
      <span
        *ngFor="let page of pages"
        class="photo-library--content--pagination--page"
        [class.photo-library--content--pagination--placeholder]="page === -1"
        [class.photo-library--content--pagination--page--active]="page === currentPage"
        (click)="handleChangePage(page)"
      >
        <ng-container *ngIf="page !== -1">
          {{ page }}
        </ng-container>
        <ng-container *ngIf="page === -1">
          ...
        </ng-container>
      </span>
      <button mat-mini-fab (click)="handleSwitchPage(false)">
        <mat-icon svgIcon="chevron"></mat-icon>
      </button>
    </div>
  </div>
</form>
